# Node modules & artifacts
node_modules/
dist/
.build/
.next/
out/
.cache/

# Logs & système d'exploitation
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# Fichiers d'environnement/local
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# build Vercel/Netlify/CI
.vercel/
.netlify/
.vite/
coverage/

# Artifacts ethers/ABI/Remix
*.abi.js
*.abi.json~
/src/abi/temp_abi.json

# Sortie d’images/prévisualisation
*.png
*.jpg
*.jpeg

# config VSCode ou IDE
.vscode/
.idea/
*.swp

# Fichiers du browser/OS
*.log
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Fichiers de cache web
.cache/
*.local
